.container
{
  
  width: 100%;
  max-width: 400%;
  background-image: linear-gradient(violet,pink,red);
   
    
}
.search-label
{
    display: flex;
    position: relative;

}

.container input
{
display: flex;
justify-content: center;
width: 200%;
display: block;
font-size: 50px;
font-style: italic;
color: #444;
box-sizing:border-box;
border-radius: 20px;
cursor: pointer;
margin-bottom: 20px;
}

.heading
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
font-size:70px;
padding:36px 0px;
color: #444;
text-align: center;
text-shadow: 5px 5wr
apping px 2px rgb(212, 103, 103);

}

.search-icon
{
   
  position: absolute;
  margin-left: 100%;
   top: 30px;
  left: -40px;
  font-size: 24px;
  color: blue;
 
}