.container
{
    max-width: 400%;
    background-image: linear-gradient(violet,pink,red);
    
    
}
.search-label
{
    display: flex;
    position: relative;

}

.container input
{
display: flex;
justify-content: center;
width: 200%;
display: block;
font-size: 50px;
font-style: italic;
color: #444;
box-sizing:border-box;
border-radius: 20px;

}

.heading
{
    display: flex;
    justify-content: center;
font-size:70px;
padding:36px 0px;
color: #444;
text-align: center;

}

i
{
   
  position: absolute;
  margin-left: 200%;
   top: 30px;
  left: -40px;
  font-size: 24px;
}